<!-- Eric Olson - CS496_400 How-To -->
<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>How-To - Introduction</title>
    <link rel="stylesheet" href="/stylesheet/style.css">
  </head>
  <body>
    <header>Google Custom Search How-To <span>by Eric Olson</span></header>
    <!-- Left Navigation Pane -->
    <div class="left_nav">
      <h4>How-To Navigation:</h4>
      <ul>
        <li><a href="index.html">Section 1 - Introduction</a></li>
        <li><a href="pre-req.html">Section 2 - Pre-Requisites</a></li>
        <li><a href="key.html">Section 3 - API Enable</a></li>
        <li><a href="engine.html">Section 4 - Engine Setup</a></li>
        <li><a href="api.html">Section 5 - API I/O</a></li>
        <li><a href="exp.html">Section 6 - Example</a></li>
        <li><a href="more.html">Section 7 - Additional Info</a></li>
      </ul>
    </div>
    <div class="content">
      <h1>INTRODUCTION</h1>
      <h2>Google Custom Search</h2>
      <p>It's the 'Digital Age', where access to near limitless volumes of information has become ubiquitous.  Google (parent Alphabet) is now the largest publicly traded company on earth by market capitalization, impressive for a tech company that was founded less then 20 years ago in 1997.  It started as an internet search engine, using a powerful new search algorithm, and Google Search continues to this day as a key flagship offering.</p>
      <p>With search being such an important tool, including imbedded searches, Google has developed a 'Custom Search API' that allows developers to leverage Google's trusted search functionality within their own applications.  The API offers a number of interesting features, many of which will be discussed in this How-To guide, including the ability to do full text searches and narrow search results to a variety of target domains from top level domains, down to individual hosts or even directories.  This How-To guide will take a beginners approach to setting up the API and utilizing it within your own apps.  The guide will focus on the obvious target of Google App Engine, but can also be generalized to other Cloud or Mobile offerings.</p>
      <p>When first attempting to use this tool I found the setup confusing, and while some documentation exists it was hard to find, targeted at more advanced users and not centralized.  The goal of this guide is to consolidate this information and provide a single source beginner's walkthrough of setting up and using the Google Search API on a Google App Engine hosted webpage.  This site will provide an overview of the process of establishing access to the API, setting up specialized search criteria, the API interface & response and provide an example of the API in action.  Code snippets will be provided throughout the guide, but the source code for this site (including the API interaction from the example page) can be downloaded and reviewed from GitHub <a href="https://github.com/EricAOlson/CS496-HowTo" target="_blank">here</a>.</p>
      <p>You can navigate through this How-To via the Previous/Next buttons presented at the bottom of each page or via the directory links provided in the left navigation.</p>
      <p>Click Next to get started.</p>
      <form action="pre-req.html" id="next">
        <input type="submit" value="NEXT">
      </form>
    </div>
  </body>
</html>