<!-- Eric Olson - CS496_400 How-To -->
<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>How-To - Introduction</title>
    <link rel="stylesheet" href="/stylesheet/style.css">
  </head>
  <body>
    <header>Google Custom Search How-To <span>by Eric Olson</span></header>
    <!-- Left Navigation Pane -->
    <div class="left_nav">
      <h4>How-To Navigation:</h4>
      <ul>
        <li><a href="index.html">Section 1 - Introduction</a></li>
        <li><a href="pre-req.html">Section 2 - Pre-Requisites</a></li>
        <li><a href="key.html">Section 3 - API Enable</a></li>
        <li><a href="engine.html">Section 4 - Engine Setup</a></li>
        <li><a href="api.html">Section 5 - API I/O</a></li>
        <li><a href="exp.html">Section 6 - Example</a></li>
        <li><a href="more.html">Section 7 - Additional Info</a></li>
      </ul>
    </div>
    <div class="content">
      <h1>ADDITIONAL TOOLS</h1>
      <p>While this guide provides an overview of the most basic functionality of the Google Custom Search API, there is much more available to users.  If you are interested in additional functionality, please explore the provided documentation with the API <a href="https://developers.google.com/custom-search/docs/overview" target="_blank">here</a>.</p>
      <p>Some additional functionality worth exploring:</p>
      <ul>
        <li>Enabling Advertising and Promotions allowing paid search results to be displayed, and actually earn money for clicks on returned promotional links.</li>
        <li>Use of Auto-complete similar  to Google's Search page.</li>
        <li>Custom Ranking & Sorting</li>
        <li>Programmatically define search engine ID's, allowing users to define the domains in which they wish to search dynamically.</li >
      </ul>
      <p>I would also like to point out another JavaScript library I discovered while designing this guide layout.  It's the <a href="https://github.com/ccampbell/rainbow" target="_blank">rainbow</a> library.  The library allows users to add CSS styling mirroring a variety of text editor like color schemes for various coding languages.  I used the library, with modifications, on this site for any html/python examples.</p> 
      <p>I hope you have found this How-To guide useful and that you enjoy your future web design with embedded search tools.</p>

      <form action="exp.html" id="prev">
        <input type="submit" value="PREVIOUS">
      </form>
    </div>
  </body>
</html>