<!-- Eric Olson - CS496_400 How-To -->
<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>How-To - Pre-Requisites</title>
    <link rel="stylesheet" href="/stylesheet/style.css">
  </head>
  <body>
    <header>Google Custom Search How-To <span>by Eric Olson</span></header>
    <!-- Left Navigation Pane -->
    <div class="left_nav">
      <h4>How-To Navigation:</h4>
      <ul>
        <li><a href="index.html">Section 1 - Introduction</a></li>
        <li><a href="pre-req.html">Section 2 - Pre-Requisites</a></li>
        <li><a href="key.html">Section 3 - API Enable</a></li>
        <li><a href="engine.html">Section 4 - Engine Setup</a></li>
        <li><a href="api.html">Section 5 - API I/O</a></li>
        <li><a href="exp.html">Section 6 - Example</a></li>
        <li><a href="more.html">Section 7 - Additional Info</a></li>
      </ul>
    </div>
    <div class="content">
      <h1>PRE-REQUISITES</h1>
      <p>While this guide intends to be a beginners guide to setting up and using the Google Custom Search API within a Google App Engine driven app (also extends to other cloud or mobile based offerings), there are some basic requirements this guide will not cover.  You should review this list to ensure that you are setup and familiar with the required skills/technologies before continuing on with this guide.</p>
      
      <h2>Google App Engine/SDK</h2>
      <p>This guide will explore setting up the Custom Search Engine associated with a Python based Google App Engine(GAE) website.  It will not however cover the setup of the GAE SDK and Development environment.  For a good guide on these topics please reference the links below:</p>
      <p>SDK Download - <a href="https://cloud.google.com/appengine/downloads" target="_blank">https://cloud.google.com/appengine/downloads</a><br>
         GAE App Tutorial - <a href="https://cloud.google.com/appengine/docs/python/" target="_blank">https://cloud.google.com/appengine/docs/python/</a>
      </p>

      <h2>Python, JSON, HTTP Requests</h2>
      <p>The GAE environment we will work with for this tutorial uses Python, and you should have a basic understanding of working with JSON structured data, and getting/receiving HTTP requests.  Links for these topics provided below:</p>
      <p>Introduction to Python - <a href="https://www.python.org/about/gettingstarted/" target="_blank">https://www.python.org/about/gettingstarted/</a><br>
         JSON with Python - <a href="https://pymotw.com/2/json/" target="_blank">https://pymotw.com/2/json/</a><br>
         HTTP with Python - <a href="https://docs.python.org/3/library/http.client.html#" target="_blank">https://docs.python.org/3/library/http.client.html#</a>
      </p>

      <h2>HTML, webapp2, jinja2</h2>
      <p>While GAE apps can be built in different ways, to understand the source code for this project a basic understanding of HTML, the webapp2 and jinja2 libraries would be helpful.  Below are some links covering the basics.</p>
      <p>HTML Tutorial - <a href="http://www.w3schools.com/html/" target="_blank">http://www.w3schools.com/html/</a><br>
         webapp2 Documentation - <a href="https://webapp-improved.appspot.com/" target="_blank">https://webapp-improved.appspot.com/</a><br>
         jinja2 Documentation - <a href="http://jinja.pocoo.org/" target="_blank">http://jinja.pocoo.org/</a>
      </p>

      <p>There are of course many more resources available for any and all of these topics online.  With this background you should be able to easily follow the upcoming guide.  Let's get started with enabling the Google Custom Search API with our GAE app.</p>
      <p>Click Next below to continue...</p>      
      
      <form action="index.html" id="prev">
        <input type="submit" value="PREVIOUS">
      </form>
      <form action="key.html" id="next">
        <input type="submit" value="NEXT">
      </form>
    </div>
  </body>
</html>